In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\spark\\spark'

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Basic Examples").getOrCreate()

In [5]:
dataSource = "AppleStore.csv"
df = spark.read.csv(dataSource,inferSchema=True,header=True)
df.printSchema()
df.show(truncate=False)

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- track_name: string (nullable = true)
 |-- size_bytes: long (nullable = true)
 |-- currency: string (nullable = true)
 |-- price: double (nullable = true)
 |-- rating_count_tot: integer (nullable = true)
 |-- rating_count_ver: integer (nullable = true)
 |-- user_rating: double (nullable = true)
 |-- user_rating_ver: double (nullable = true)
 |-- ver: string (nullable = true)
 |-- cont_rating: string (nullable = true)
 |-- prime_genre: string (nullable = true)
 |-- sup_devices.num: integer (nullable = true)
 |-- ipadSc_urls.num: integer (nullable = true)
 |-- lang.num: integer (nullable = true)
 |-- vpp_lic: integer (nullable = true)

+---+---------+--------------------------------------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
|_c0|id       |track_name                                        |size_bytes|currency|price|rating_count_tot|rating_count_ver|user_rating|user_rating_ver|ver    |cont_rating|prime_genre      |sup_devices.num|ipadSc_urls.num|lang.num|vpp_lic|
+---+---------+--------------------------------------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
|1  |281656475|PAC-MAN Premium                                   |100788224 |USD     |3.99 |21292           |26              |4.0        |4.5            |6.3.5  |4+         |Games            |38             |5              |10      |1      |
|2  |281796108|Evernote - stay organized                         |158578688 |USD     |0.0  |161065          |26              |4.0        |3.5            |8.2.2  |4+         |Productivity     |37             |5              |23      |1      |
|3  |281940292|WeatherBug - Local Weather, Radar, Maps, Alerts   |100524032 |USD     |0.0  |188583          |2822            |3.5        |4.5            |5.0.0  |4+         |Weather          |37             |5              |3       |1      |
|4  |282614216|eBay: Best App to Buy, Sell, Save! Online Shopping|128512000 |USD     |0.0  |262241          |649             |4.0        |4.5            |5.10.0 |12+        |Shopping         |37             |5              |9       |1      |
|5  |282935706|Bible                                             |92774400  |USD     |0.0  |985920          |5320            |4.5        |5.0            |7.5.1  |4+         |Reference        |37             |5              |45      |1      |
|6  |283619399|Shanghai Mahjong                                  |10485713  |USD     |0.99 |8253            |5516            |4.0        |4.0            |1.8    |4+         |Games            |47             |5              |1       |1      |
|7  |283646709|PayPal - Send and request money safely            |227795968 |USD     |0.0  |119487          |879             |4.0        |4.5            |6.12.0 |4+         |Finance          |37             |0              |19      |1      |
|8  |284035177|Pandora - Music & Radio                           |130242560 |USD     |0.0  |1126879         |3594            |4.0        |4.5            |8.4.1  |12+        |Music            |37             |4              |1       |1      |
|9  |284666222|PCalc - The Best Calculator                       |49250304  |USD     |9.99 |1117            |4               |4.5        |5.0            |3.6.6  |4+         |Utilities        |37             |5              |1       |1      |
|10 |284736660|Ms. PAC-MAN                                       |70023168  |USD     |3.99 |7885            |40              |4.0        |4.0            |4.0.4  |4+         |Games            |38             |0              |10      |1      |
|11 |284791396|Solitaire by MobilityWare                         |49618944  |USD     |4.99 |76720           |4017            |4.5        |4.5            |4.10.1 |4+         |Games            |38             |4              |11      |1      |
|12 |284815117|SCRABBLE Premium                                  |227547136 |USD     |7.99 |105776          |166             |3.5        |2.5            |5.19.0 |4+         |Games            |37             |0              |6       |1      |
|13 |284815942|Google â€“ Search made just for mobile              |179979264 |USD     |0.0  |479440          |203             |3.5        |4.0            |27.0   |17+        |Utilities        |37             |4              |33      |1      |
|14 |284847138|Bank of America - Mobile Banking                  |160925696 |USD     |0.0  |119773          |2336            |3.5        |4.5            |7.3.8  |4+         |Finance          |37             |0              |2       |1      |
|15 |284862767|FreeCell                                          |55153664  |USD     |4.99 |6340            |668             |4.5        |4.5            |4.0.3  |4+         |Games            |38             |5              |2       |1      |
|16 |284876795|TripAdvisor Hotels Flights Restaurants            |207907840 |USD     |0.0  |56194           |87              |4.0        |3.5            |21.1   |4+         |Travel           |37             |1              |26      |1      |
|17 |284882215|Facebook                                          |389879808 |USD     |0.0  |2974676         |212             |3.5        |3.5            |95.0   |4+         |Social Networking|37             |1              |29      |1      |
|18 |284910350|Yelp - Nearby Restaurants, Shopping & Services    |167407616 |USD     |0.0  |223885          |3726            |4.0        |4.5            |11.15.0|12+        |Travel           |37             |5              |18      |1      |
|20 |284993459|Shazam - Discover music, artists, videos & lyrics |147093504 |USD     |0.0  |402925          |136             |4.0        |4.5            |11.0.3 |12+        |Music            |37             |3              |16      |1      |
|21 |285005463|Crash Bandicoot Nitro Kart 3D                     |10735026  |USD     |2.99 |31456           |4178            |4.0        |3.5            |1.0.0  |4+         |Games            |47             |0              |1       |1      |
+---+---------+--------------------------------------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
only showing top 20 rows

In [6]:
df = df.select(['size_bytes','price','prime_genre','user_rating'])

## CAST Operations

In [7]:
from pyspark.sql.functions import col
from pyspark.sql.types import StringType

df_transformed = df.withColumn("price_new",col("price").cast(StringType()))

## Create UDF

In [8]:
from pyspark.sql.functions import udf
def leftPad(string):
    string = str(string).rjust(10,'0')
    return string
convertUDF = udf(lambda z: leftPad(z),StringType())

## Creating a UDF to change the Values to Upper Case

In [14]:
convertUDF2 = udf(lambda z: str(z).upper(),StringType())

In [15]:
df_transformed = df_transformed. \
    withColumn(
        "price_new", 
        convertUDF(col("price_new")).alias("price_new")
    )
df_transformed = df_transformed. \
    withColumn(
        "prime_genre",
        convertUDF2(col("prime_genre")).alias("prime_genre")
    )

In [16]:
from pyspark.sql.functions import substring, trim
df_transformed = df_transformed.withColumn("price_new",substring('price_new',6,4))
df_transformed = df_transformed. \
    withColumn('prime_genre', trim('prime_genre'))

In [9]:
df_transformed.show()

+----------+-----+-----------------+-----------+---------+
|size_bytes|price|      prime_genre|user_rating|price_new|
+----------+-----+-----------------+-----------+---------+
| 100788224| 3.99|            Games|        4.0|     3.99|
| 158578688|  0.0|     Productivity|        4.0|      0.0|
| 100524032|  0.0|          Weather|        3.5|      0.0|
| 128512000|  0.0|         Shopping|        4.0|      0.0|
|  92774400|  0.0|        Reference|        4.5|      0.0|
|  10485713| 0.99|            Games|        4.0|     0.99|
| 227795968|  0.0|          Finance|        4.0|      0.0|
| 130242560|  0.0|            Music|        4.0|      0.0|
|  49250304| 9.99|        Utilities|        4.5|     9.99|
|  70023168| 3.99|            Games|        4.0|     3.99|
|  49618944| 4.99|            Games|        4.5|     4.99|
| 227547136| 7.99|            Games|        3.5|     7.99|
| 179979264|  0.0|        Utilities|        3.5|      0.0|
| 160925696|  0.0|          Finance|        3.5|      0.0|
|  55153664| 4.99|            Games|        4.5|     4.99|
| 207907840|  0.0|           Travel|        4.0|      0.0|
| 389879808|  0.0|Social Networking|        3.5|      0.0|
| 167407616|  0.0|           Travel|        4.0|      0.0|
| 147093504|  0.0|            Music|        4.0|      0.0|
|  10735026| 2.99|            Games|        4.0|     2.99|
+----------+-----+-----------------+-----------+---------+
only showing top 20 rows

# Analysis and Operations
## Count Distinct

In [10]:
from pyspark.sql.functions import countDistinct
df_distinct_count = df_transformed.select(countDistinct("prime_genre").alias("prime_genre_count"))
df_distinct_count.show()

+-----------------+
|prime_genre_count|
+-----------------+
|               23|
+-----------------+

## Analyze Data using analytical or windowing functions

In [11]:
from pyspark.sql.functions import count

frequencies = df_transformed. \
    groupBy('prime_genre'). \
    agg(count('prime_genre').alias('frequency')). \
    selectExpr(
    '*',
    '100*Frequency / sum(Frequency) over() Percent'
). \
    selectExpr(
    '*',
    'sum(Frequency) over(order by Frequency desc) cumulative_frequency',
    'sum(Percent) over(order by Frequency desc) cumulative_Percent'
)
frequencies.show()

+-----------------+---------+------------------+--------------------+------------------+
|      prime_genre|frequency|           Percent|cumulative_frequency|cumulative_Percent|
+-----------------+---------+------------------+--------------------+------------------+
|            Games|     3862| 53.66124774211477|                3862| 53.66124774211477|
|    Entertainment|      535| 7.433652910935112|                4397|61.094900653049876|
|        Education|      453| 6.294289287203001|                4850| 67.38918994025288|
|    Photo & Video|      349| 4.849242740030569|                5199| 72.23843268028344|
|        Utilities|      248| 3.445880227872725|                5447| 75.68431290815616|
| Health & Fitness|      180| 2.501042100875365|                5627| 78.18535500903153|
|     Productivity|      178| 2.473252744198972|                5805|  80.6586077532305|
|Social Networking|      167|2.3204112824788106|                5972| 82.97901903570931|
|        Lifestyle|      144|2.0008336807002918|                6116| 84.97985271640961|
|            Music|      138| 1.917465610671113|                6254| 86.89731832708073|
|         Shopping|      122|1.6951507572599693|                6376| 88.59246908434069|
|           Sports|      114|1.5839933305543976|                6490| 90.17646241489508|
|             Book|      112|1.5562039738780047|                6602| 91.73266638877308|
|          Finance|      104| 1.445046547172433|                6706| 93.17771293594552|
|           Travel|       81|1.1254689453939142|                6787| 94.30318188133944|
|             News|       75|1.0421008753647354|                6862| 95.34528275670418|
|          Weather|       72|1.0004168403501459|                6934| 96.34569959705432|
|        Reference|       64|0.8892594136445742|                6998|  97.2349590106989|
|     Food & Drink|       63|0.8753647353063777|                7061| 98.11032374600528|
|         Business|       57|0.7919966652771988|                7118| 98.90232041128247|
+-----------------+---------+------------------+--------------------+------------------+
only showing top 20 rows

## Dealing with Null Values

In [22]:
from pyspark.sql.functions import isnan

null_values = df_transformed.filter(
    df_transformed.price.contains('None') | \
    df_transformed.price.contains('NULL') | \
    (col("price") == '') | \
    isnan(df_transformed.price) | \
    df_transformed.price.isNull()
).count()
Not_null_values = df_transformed.count() - null_values
data = [(null_values, Not_null_values)]
df_new = spark.createDataFrame(data, ["Null_value", "Not_null_values"])
df_new.show()

+----------+---------------+
|Null_value|Not_null_values|
+----------+---------------+
|         0|           7197|
+----------+---------------+

## Create Dataframes for unique values and null values

In [24]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

w2 = Window. \
    partitionBy('prime_genre'). \
    orderBy(col("user_rating").desc())
df_duplicate = df_transformed. \
    withColumn("row", row_number().over(w2)). \
    filter(col("row") > 1). \
    drop("row")
df_unique = df_transformed. \
    withColumn("row", row_number().over(w2)). \
    filter(col("row") == 1). \
    drop("row")
df_duplicate.show()
df_unique.show()

+----------+-----+-----------+-----------+---------+
|size_bytes|price|prime_genre|user_rating|price_new|
+----------+-----+-----------+-----------+---------+
|  52120576| 0.99|       BOOK|        5.0|     00.9|
|  39294976| 0.99|       BOOK|        5.0|     00.9|
| 130731008|  0.0|       BOOK|        5.0|     000.|
|  63058944|  0.0|       BOOK|        5.0|     000.|
|  77494272|  0.0|       BOOK|        5.0|     000.|
|  46465024| 3.99|       BOOK|        5.0|     03.9|
| 135236608|  0.0|       BOOK|        5.0|     000.|
|  35903488|  0.0|       BOOK|        5.0|     000.|
|  30749696|  0.0|       BOOK|        5.0|     000.|
| 805970944| 5.99|       BOOK|        5.0|     05.9|
| 798962688| 5.99|       BOOK|        5.0|     05.9|
| 307137536| 2.99|       BOOK|        5.0|     02.9|
|  53123072| 1.99|       BOOK|        5.0|     01.9|
|  81558528|  0.0|       BOOK|        4.5|     000.|
|  36942848| 2.99|       BOOK|        4.5|     02.9|
|  29496320| 1.99|       BOOK|        4.5|     01.9|
| 121874432| 5.99|       BOOK|        4.5|     05.9|
| 186402816| 2.99|       BOOK|        4.5|     02.9|
| 915262464| 5.99|       BOOK|        4.5|     05.9|
|  73193472|  0.0|       BOOK|        4.5|     000.|
+----------+-----+-----------+-----------+---------+
only showing top 20 rows

+----------+-----+-----------------+-----------+---------+
|size_bytes|price|      prime_genre|user_rating|price_new|
+----------+-----+-----------------+-----------+---------+
| 177553408| 3.99|             BOOK|        5.0|     03.9|
|   8821760| 4.99|         BUSINESS|        5.0|     04.9|
| 120219648|  0.0|         CATALOGS|        5.0|     000.|
|  48819200| 4.99|        EDUCATION|        5.0|     04.9|
|  96586752|  0.0|    ENTERTAINMENT|        5.0|     000.|
|   3530752| 1.99|          FINANCE|        5.0|     01.9|
| 105743360|  0.0|     FOOD & DRINK|        5.0|     000.|
|   6169600| 2.99|            GAMES|        5.0|     02.9|
| 425657344| 4.99| HEALTH & FITNESS|        5.0|     04.9|
|  13282304| 0.99|        LIFESTYLE|        5.0|     00.9|
|  66277376|  0.0|          MEDICAL|        5.0|     000.|
|  13062144| 3.99|            MUSIC|        5.0|     03.9|
|  24949760| 0.99|       NAVIGATION|        5.0|     00.9|
|  92966912|  0.0|             NEWS|        5.0|     000.|
|  58463232| 8.99|    PHOTO & VIDEO|        5.0|     08.9|
|   7558144| 1.99|     PRODUCTIVITY|        5.0|     01.9|
|  22264832| 1.99|        REFERENCE|        5.0|     01.9|
|  70325248|  0.0|         SHOPPING|        5.0|     000.|
|  79953920|  0.0|SOCIAL NETWORKING|        5.0|     000.|
|  13518848| 1.99|           SPORTS|        5.0|     01.9|
+----------+-----+-----------------+-----------+---------+
only showing top 20 rows